<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wyj.dao.system.RoleRelMenuMapper">
	<insert id="save"  parameterType="hashmap"> 
		INSERT INTO s_auth_rolerelmenu (roleId,menuId)
		VALUES
		<foreach collection="menus" item="menuId" index="index" separator="," >
		(
			#{roleId}, 
			#{menuId}
		)
		</foreach>
	</insert>
	
	<select id="listMenuIdByRoleId" resultType="long">
		SELECT
			menuId
		FROM
			s_auth_rolerelmenu
		WHERE
			roleId = #{id}
	</select>

	<delete id="batchRemoveByMenuId">
		DELETE
		FROM
			s_auth_rolerelmenu
		WHERE
			menuId IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="batchRemoveByRoleId">
		DELETE
		FROM
			s_auth_rolerelmenu
		WHERE
			roleId IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="remove">
		DELETE
		FROM
			s_auth_rolerelmenu
		WHERE
			roleId = #{value}
	</delete>	
	
	<resultMap type="com.wyj.entity.system.RoleRelMenu" id="roleRelMenuMap">
		<id property="roleRelMenuId" column="roleRelMenuId" />
		<result property="roleId" column="roleId" />
		<result property="menuId" column="menuId" />
	</resultMap>
</mapper>